<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="azubakov.edu.caloriescalc">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.UserListsActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.LoginActivity" />
        <activity
            android:name=".activity.CalorieRecyclerActivity"
            android:label="@string/title_activity_result_basic"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.ResultBasicActivity"
            android:label="@string/title_activity_result_basic"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.CalorieNavDrawerActivity"
            android:label="@string/title_activity_calorie_nav_drawer"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.CaloriesDetailsBasicActivity"
            android:label="@string/title_activity_result_basic"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.InformBodyCaloriesActivity"
            android:label="@string/title_activity_inform_body_calories"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.ResultInfoBodyActivity"
            android:label="@string/title_activity_result_info_body"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.RecyclerInfoBodyActivity"
            android:label="@string/title_activity_recycle_info_body"
            android:theme="@style/AppTheme.NoActionBar">

            <!--
                <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->

        </activity>
        <activity
            android:name=".activity.InformBodyCaloriesSpinActivity"
            android:label="@string/title_activity_inform_body_calories_spin"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.RecyclerMilkProductsActivity"
            android:label="RecyclerMilkProductsActivity"
            android:theme="@style/AppTheme.NoActionBar">

            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>
        <activity
            android:name=".activity.RecyclerMeatProductsActivity"
            android:label="@string/title_activity_recycler_meat_products"
            android:theme="@style/AppTheme.NoActionBar">

            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>
        <activity
            android:name=".activity.RecyclerFishProductsActivity"
            android:label="@string/title_activity_recycler_fish_products"
            android:theme="@style/AppTheme.NoActionBar">

            <!--
                <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->

        </activity>
        <activity
            android:name=".activity.DairynActivity"
            android:label="@string/title_activity_dairyn"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.DairyActivity"
            android:label="@string/title_activity_dairy"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.RecyclerResultsDairyActivity"
            android:label="@string/title_activity_recycler_results_dairy"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.RecyclerBreadProductsActivity"
            android:label="@string/title_activity_recycler_bread_products"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.RecyclerPopularProductsActivity"
            android:label="@string/title_activity_recycler_popular_products"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.MealSummaryActivity"
            android:label="@string/title_activity_meal_summary"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.MealSummaryRecyclerActivity"
            android:label="@string/title_activity_meal_summary_recycler"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.NutritionixActivity"
            android:label="@string/title_activity_nutritionix"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.SearchAutocompliteNutritionixActivity"
            android:label="@string/title_activity_search_autocomplite_nutritionix"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.RecyclerActsActivity"
            android:label="@string/title_activity_recycler_acts"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.MealProductsSpinActivity"
            android:label="@string/title_activity_meal_products_spin"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.HelperActivity"
            android:label="@string/title_activity_helper"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.RecyclerFruitsProductsActivity"
            android:label="@string/title_activity_recycler_fruits"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.RecyclerVegetablesProductsActivity"
            android:label="@string/title_activity_recycler_vegetables_products"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>